.stack-work/
*.swp
.cabal-sandbox
cabal.sandbox.config
banach/.cabal-sandbox
localsensitivity-cabal/.cabal-sandbox
globalsensitivity-cabal/.cabal-sandbox
banach/dist
localsensitivity-cabal/dist
globalsensitivity-cabal/dist
